* {
  box-sizing: border-box;
}

#board {
  padding: 50px 15px 15px;
  margin-top: -25px;
  overflow-y: visible;
}
.note {
  float: left;
  display: block;
  position: relative;
  padding: 1em;
  width: 350px;
  min-height: 300px;
  margin: 0 30px 30px 0;
  background: linear-gradient(top, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
  background-color: #fffd75;
  box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, 0.3);
  transform: rotate(2deg);
  transform: skew(-1deg, 1deg);
  transition: transform 0.15s;
  z-index: 1;
}
